.skills-header {
  font-size: 260%;
  color: rgb(41, 221, 41);
  position: absolute;
  left: 19%;
}

.skills-container {
  position: relative;
  top: 10vh;
  width: 25vw; 
  height: 90vh;
}

.skills-text-container {
  position: absolute;
  top: 40%;
  left: 40%; 
  transform: translateX(50%);
  text-align: center;
  width: 50vw;
  max-width: 100vw;
}

.skills-text {
  font-size: 120%;
  color: white;
  margin-bottom: 5%;
}

ul {
list-style-type: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
color: white;
}

.skills-img {
width: 50vw;
height: 50vh;
position: absolute;
bottom: 10%; 
left: -40%; 
transform: translateX(-50%);

}

.skills-img-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
  margin-right: 90px;
}




@media (max-width: 600px) {
  .skills-text-container {
    left: -100%;
    transform: translate(50%, -50%);
    width: 80vw;
    bottom: 10%;
  }

  .skills-text {
    font-size: 100%;
    margin-right: 10%;
  }

  .skills-img-container {
    text-align: center; 
    margin-top: 20px; 
  }

  .skills-img {
    width: 80vw;
    max-height: 50vh;
    position: relative; 
    left: 80%;
  }

  .skills-container {
    margin-bottom: 70%;
    max-width: 300px;
  }
  
  .skills-header {
    font-size: 260%;
    position: absolute;
    left: 20%; 
    width: 80vw; 
  }

}
