.about-me-container {
  color: white;
}

.about-me-content {
  display: flex;
}

.about-me-text {
  flex: 1;
  margin-right: 10px;
  margin-top: 150px;
  font-size: 12px;
}

.about-img-container {
  flex-shrink: 0;
  margin-right: 50px;
}

.about-img {
  max-width: 100%;
}

.about-me-header-container {
  max-width: 300px;
}

.about-me-header {
  font-size: 260%;
  color: rgb(41, 221, 41);
  width: 100%;
}

.about-me-description {
  margin-bottom: 20px;
}

.about-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about-resume-button {
  font-size: 20px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
}

.about-resume-button:hover {
  font-size: 20px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  border-radius: 12px;
  border: 2px solid #0cff20;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
}

.about-contact-button {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  border: 2px solid #0cff20;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(11, 42, 68);
  color: white;
  padding: 10px 20px;
}

.about-contact-button:hover {
  position: relative;
  z-index: 2;
  border-radius: 12px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  border: 2px solid #0cff20;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(11, 42, 68);
  color: white;
  padding: 10px 20px;
}

/* For desktop view */
@media (min-width: 769px) {
  .about-me-header {
    margin-left: 50px; /* Move the header 50px to the right */
  }
}

/* For mobile view */
@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    align-items: center;
  }

  .about-me-text {
    margin-top: 20px;
    text-align: center;
  }

  .about-img-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-me-header {
    font-size: 260%;
    transform: translateX(-10%); /* Center the header horizontally within its container */
  }


  .about-button-container {
    flex-direction: column;
    align-items: center;
  }
}
